 <h1>add programs</h1>
    <form name="form1" method="POST" action="/admin/add-programs">
   
        <div>
         <label for=" program-name"> program name</label>
         <input type="text" name="name" >
        </div>
       <div>
  <label >Section:</label>
  <select name="sectionData" id="sectionData">
    <option value="bidaya">Bidaya</option>
    <option value="ula">Ula</option>
    <option value="thaniya">Thaniya</option>
    <option value="thanaviya">Thanaviya</option>
  </select>
       </div>
<div>
  <label >stage:</label>
        <select name="stagedata" id="stage-data">
            <option value="stage">stage</option>
            <option value="non-stage">Non-stage</option>
        </select>
     
</div>
      <div>
      <label >group:</label>
        <select name="groupdata" id="group-data">
            
            <option value="non-group">Non-group</option>
            <option value="group">2 C</option>
            <option value="group">3 C</option>
            <option value="group">4 C</option>
            <option value="group">6 C</option>
        </select> 
      </div>   
     <button type="submit">submit</button>
    </form>  