<a href="/home">Back</a>
<h1>ADD CONTESTENT DATA</h1>
    <form name="form1" method="POST" action="/Add-contestent">
   
        <div>
         <tr> 
           <td> Name</td>
          <td><input type="text" name="name" ></td>
          </tr>
        </div>
        <div>
         <tr> 
           <td> ADM NO</td>
          <td><input type="number" name="admno" ></td>
          </tr>
        </div>
             <div>
  <label >Section:</label>
  <select name="sectionData" id="sectionData">
    <option value="bidaya">Bidaya</option>
    <option value="ula">Ula</option>
    <option value="thaniya">Thaniya</option>
    <option value="thanaviya">Thanaviya</option>
  </select>
       </div>
     
     <button type="submit">submitt</button>
    </form>   
