<div style="display: flex; justify-content: space-between; align-items: center">
  <h1>Hi, <%= name %></h1>
  <form action="/logout" method="POST">
    <button
      type="submit"
      style="
        background: #e50e0e;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
      "
    >
      Log Out
    </button>
  </form>
</div>

<a
  href="/createPost"
  style="
    display: block;
    width: 115px;
    height: 25px;
    background: #4e9caf;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
  "
  >Create Post</a
>

<h2>Displaying the posts made by the current user</h2>

<% data.forEach(post => { %>
<p><%- post.data %></p>
<% }) %>
