<h1><%= constestent.name %></h1>
 <br>
 <br>
 <br>
  <% programs.forEach((programs)=>{ %>
        <li ondblclick="CLICK" ><%-  programs.name  %></li>

       <% }); %>

    <script>
    function CLICK() {
        console.log('hai')
       }
    </script>